.fileUploader {
  width: 100%;
  max-width: 75rem;

  &.disabled {
    color: var(--mui-palette-grey-500);
  }

  owc-typography {
    color: inherit;
  }

  .dropzone {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;

    @media only screen and (max-width: 720px) {
      gap: 0.5rem;
    }

    &.medium {
      height: 15.5rem;
      padding: 1rem;
      flex-direction: column;
      align-content: center;

      .uploadSection {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
      }

      .uploadInfo {
        gap: 1rem;

        @media only screen and (max-width: 720px) {
          flex-direction: column;
          gap: 0;
        }
      }
    }

    &.small {
      padding: 0.5rem 1rem;
      flex-direction: row;

      .dropzoneText {
        width: calc(100% - 19rem);
        text-align: center;

        @media only screen and (max-width: 720px) {
          display: none;
        }
      }
    }

    &:hover:not(.disabled),
    &.dragging {
      background-color: var(--mui-palette-action-hover);
    }

    .icon {
      font-size: 5.5rem;
    }
  }

  .filesOverview {
    gap: 1rem;
    padding: 0.75rem 1rem;

    .filesList {
      gap: 1rem;

      &.reversed {
        flex-direction: column-reverse;
      }
    }
  }
}
